* {
  box-sizing: border-box;
  font-family: "Space Mono";
}

body {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(20, 33, 61);
}

.main-page-header {
  display: block;
  justify-content: center;
  background-color: aliceblue;
  padding: 16px;
}

.name-and-subtitle {
  display: block;
}

.my-name {
  text-align: center;
  margin: 0;
}

.subtitle {
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  gap: 32px;
  justify-content:  center;
  flex-wrap: wrap;
  flex-direction: row;
}

.social-button {
  display: flex;
  gap: 8px;
}

.social-icon {
  height: 25px;
}

.main-nav-bar {
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.nav-bar-item {
  margin-left: 16px;
  margin-right: 16px;
}

main {
  display: flex;
  margin: auto;
  padding: 16px;
  margin-top: 32px;
  justify-content: center;
}

.project-list {
  list-style: circle;
}

.project-list-item {
  text-decoration: none;
  font-size: large;
}

.project-stack-title {
  display: flex;
  align-items: center;
  gap: 32px;
}
.stack-icon-image {
  height: 100px; /* Adjust according to need */
  width: 150px;
  object-fit: scale-down; /* Ensures the image is not stretched if ratio differs */
}
