* {
    box-sizing: border-box;
    font-family: "Space Mono";
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.main-page-header {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 16px;
}

.name-and-subtitle {
    justify-content: center;
}

.my-name {
    text-align: center;
    margin: 0;
}

.subtitle {
    margin: 0;
}

main {
    display: flex;
    margin: auto;
    padding: 16px;
    margin-top: 32px;
    max-width: 700px;

}

.project-list {
    list-style: decimal-leading-zeros;
}

.project-list-item {
    text-decoration: none;
    font-size: large;
}